body {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;

}

.wave-container {
    height: 40vh;
    background-color: #ffffff;
    position: relative;
}

.wave-container::before {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 46vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 113' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 4 51.5 7C104.5 16 200 36 300 56C400 75 500 94 600 86C700 79 800 45 900 25C987.526 4 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V113H1150C1100 113 1000 113 900 113C800 113 700 113 600 113C500 113 400 113 300 113C200 113 100 113 50 113H0V1.98128Z' fill='%23eabed3'/></svg>");
}

@media(max-width:850px) {
    .wave-container::before {
        height: 15px
    }
}

.montserrat-thin {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.cursive {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul.list-disc li::marker {
    color: #e6bed2;
    /* Change bullet color */
}